<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark" />
        {{ partial "_head/start" . }}
        {{ partial "seo/_all" . }}
        {{ partial "schema/_all" . }}
        {{ partial "_head/styles" . }}
        {{ partial "_head/scripts" . }}
        {{ partial "_head/end" . }}
    </head>
    <body>
        {{ partial "_body/start" . }}
        {{- block "header" . }}{{- partial "header" . -}}{{- end }}
        {{- block "main" . }}{{- end }}
        {{- block "footer" . }}{{- partial "footer" . -}}{{- end }}
        {{ partial "_body/end" . }}
    </body>
</html>