{{ define "main" }}
<main>
    {{- partial "hero" . -}}
    <section class="container">
        {{ with .Paginator.Pages }}
        <ul>
            {{ range . }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ range $elem_index, $elem_val := (.GetTerms "tags") }}
                <a href="{{ .RelPermalink }}"
                    class="secondary">#{{ .LinkTitle }}</a>
                {{- end -}}
            </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ template "_internal/pagination.html" . }}
        <hr/>
        {{ .Content }}
    </section>
</main>
{{ end }}