{{define "main"}}
<main>
  {{- partial "hero" . -}}
  {{ with .Content }}
  <section class="container">
    {{ . }}
  </section>
  {{ end }}
  {{ range .Params.blocks }}
    {{ if .draft}}{{ else }}
    {{- partial (printf "block/%s" ._template) (dict "block" . "context" $) -}}
    {{ end }}
  {{ end }}
</main>
{{end}}