<section class="container">
    
    <hgroup>
        {{ with .block.heading }}
        <h2>{{ . }}</h2>
        {{ end }}
        {{ .block.body | markdownify }}
    </hgroup>

    {{ range .block.items }}
    <details>
        <summary role="button" class="outline secondary">{{ .summary }}</summary>
        {{ .details }}
    </details>
    {{ end }}

</section>