<section class="container">
    
    <hgroup>
        {{ with .block.heading }}
        <h2>{{ . }}</h2>
        {{ end }}
        {{ .block.body | markdownify }}
    </hgroup>

    <div class="grid">
        {{ $context := .context }}
        {{ range .block.cards }}
        <article>
            {{ with .title }}
            <header>
                <h3>{{ . }}</h3>
            </header>
            {{ end }}
            {{ .body }}
            {{ with .image }}
                {{ partial "img.html" (dict "context" $context "image" . "process" "resize 600x") }}
            {{ end }}
        </article>
        {{ end }}
    </div>

</section>