<section class="container">
    <div class="grid">
        <div>
            <h2>{{ .block.heading }}</h2>
            {{ .block.body | markdownify }}
            <div>
            {{ if and .block.button_link .block.button_label }}
                <a href="{{ .block.button_link }}" role="button">{{ .block.button_label }}</a>
            {{ end }}
            </div>
        </div>
        {{ if .block.image }}
        <div>
            {{ partial "img.html" (dict "context" .context "image" .block.image "process" "resize 800x") }}
        </div>
        {{ end }}
    </div>
</section>