{{ if not .IsHome }}
<nav aria-label="breadcrumb">
    <ul>
        {{- range .Ancestors.Reverse }}
        {{- if .RelPermalink }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end }}
        {{- end }}
        <li>{{ .Title }}</li>
    </ul>
</nav>
{{ end }}