<footer class="container">
    <nav>
        <ul>
            {{ if .IsTranslated }}
            <li>
                {{ partial "languages" . }}
            </li>
            {{ end }}
            {{ range site.Menus.footer }}
                {{ if ne .Params.hidden true }}
                    {{ if .Page.Params.href }}
                    <li><a href="{{ .Page.Params.href }}" {{ with .Page.Params.target }}target="{{ . }}"{{ end }}>{{ .Title }}</a></li>
                    {{ else }}
                    <li><a href="{{ .URL }}">{{ .Title }}</a></li>
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
    </nav>
    <div>&copy; {{ now.Format "2006" }} {{ (.Site.Params.copyright | markdownify) | default .Site.Title }}</div>
</footer>