<header class="container-fluid">
    <nav>
        <ul>
            <li>
                <a href="{{ site.Home.RelPermalink }}">
                    {{- with resources.Get (default "/logo.svg" .Site.Params.logo) }}
                        {{- $svg := . | resources.Copy ("/logo.svg" | relURL) }}
                        {{ $svg.Content | safeHTML }}
                    {{- end }}
                    <strong>{{ .Site.Title }}</strong>
                </a>
            </li>
        </ul>
        <ul>
            {{ range site.Menus.main }}
                {{ if ne .Params.hidden true }}
                    <li>
                        <a href="{{ .URL }}">{{ .Title }}</a>
                        {{/* TODO: Second level menu items not styled yet */}}
                        {{ if .HasChildren }}
                            <ul>
                            {{ range .Children }}
                                {{ if ne .Params.hidden true }}
                                    <li>
                                        <a href="{{ .URL }}">{{ .Title }}</a>
                                    </li>
                                {{ end }}
                            {{ end }}
                            </ul>
                        {{ end }}
                    </li>
                {{ end }}
            {{ end }}
            {{ if .IsTranslated }}
            <li>
                {{ partial "languages" . }}
            </li>
            {{ end }}
        </ul>
    </nav>
</header>