{{ $heading := replace ( replace .Params.heading "___" "&nbsp;" ) "---" "&shy;" | safeHTML }}
<section class="container">
  {{- partial "breadcrumb" . -}}
  <hgroup>
    <h1>
      {{ $heading | default .Title }}
    </h1>
    {{ with .Params.description }}
    <p>{{ . }}</p>
    {{ end }}
  </hgroup>
  {{ partial "buttonGroup.html" (dict "buttons" .Params.buttons) }}
</section>