{{ if .IsTranslated }}
    {{ $pageLang := .Page.Lang}}
    <details class="dropdown">
        <summary>
            {{ upper $pageLang }}
        </summary>
        <ul dir="rtl">
            {{ range .AllTranslations }}
            {{ if ne $pageLang .Language.Lang }}
            <li>
                <a href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">{{ upper .Language.Lang }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
      </details>
{{ end }}