{{ $title := .Get "title" }}
{{ $subtitle := .Get "subtitle" }}
{{ $text := .Get "text" }}
{{ $href := .Get "href" }}
{{ $target := .Get "target" }}


{{ if and $title $text $href }}
<div class="callout">
    <h2>{{ $title }}</h2>
    {{ with $subtitle }}
        <p>{{ . }}</p>
    {{ end }}
    <a 
    href="{{ $href }}"
    role="button"
    {{ with $target }}target="{{ . }}"{{ if eq . "_blank"}}rel="noopener"{{ end }}{{ end }}
    {{ with $title }}title="{{ . }}"{{ end }}
    >
        {{ $text }}
    </a>
</div>
{{ end }}